<div class="info" >
    <div class="imagInfo" >
        <img src="{{companyInfo.logo}}" alt="logo">
    </div>
    <div class="company">
    <p>
        <span class="colorS">Company Name : </span>
        <span class="paddingleft">{{companyInfo.companyName}}</span>
    </p>
    <p>
        <span  class="colorS">City : </span>
        <span class="paddingleft"  >{{companyInfo.city}}</span>
    </p>
    <p>
        <span  class="colorS">sector Name : </span>
        <span class="paddingleft"  >{{companyInfo.sector}}</span>
    </p>
    <p>
        <span class="colorS">Founder Name : </span>
        <span class="paddingleft">{{companyInfo.founder}}</span>
    </p>
    <p>
        <span  class="colorS"> Website : </span>
        <span class="paddingleft"><a class="link" href="{{companyInfo.website}}">{{companyInfo.website}}</a></span>
    </p>
    
    <p>
        <span  class="colorS"> Email : </span>
        <span class="paddingleft">{{companyInfo.email}}</span>
    </p>
    <p>
        <span  class="colorS"> Phone : </span>
        <span class="paddingleft">{{companyInfo.phone}}</span>
    </p>
    <p>
        <span  class="colorS"> Year Of Establishment : </span>
        <span class="paddingleft">{{companyInfo.yearOfEstablishment}}</span>
    </p>
    <p>
        <span  class="colorS"> Number Of Employees : </span>
        <span class="paddingleft">{{companyInfo.numOfEmployees}}</span>
    </p>
    
</div>
    <agm-map 
[latitude]="latitude" 
[longitude]="longitude"
[zoom]="zoom" >
<agm-marker 
[latitude]="latitude" 
[longitude]="longitude"></agm-marker>
</agm-map>
</div>

