* {
  font-size: 20px;
  line-height: 40px;
}
.conteiner {
  margin-top: 132px;
  margin-bottom: 50px;
  width: 62%;
  height: 750px;
  padding: 40px;
  position: relative;
  left: 20%;
  border-radius: 25px;
  background: var(--third-color);
  box-shadow: 1px 13px 17px var(--shadow-color), 1px 3px 9px var(--third-color);
  overflow: overlay;
}
h1 {
  color: var(--primary-color);
  margin: 20px;
  text-align: center;
  font-weight: bold;
}
