<div class="conteiner">

    <h1>TechStartups</h1>
    <p>
        TechStartups "Your Gateway to the Jordanian Entrepreneurship Ecosystem" is Jordans’ destination
        for startups, investors, and support ecosystems. Supported by The Innovative Startups and SMEs Fund
        (ISSF) and managed by the Information and Communications Technology Association (int@j), StartupsTech
        objective is to connect entrepreneurs, investors, and other ecosystem players in Jordan with each other
        while providing digital tools and training on starting and doing business to improve the “Investment Readiness”
        of entrepreneurs and ultimately, increase deal flow. We aim to helpin identifying and supporting promising
        start-ups and provide them with the necessary tools and networks to succeed and grow.
    </p>
    <h1>Vision & Mission</h1>
    <p>
        Economic growth, created by the dynamic force of entrepreneurship
        and innovation culture, as a result of better access to markets,
        finance, human capital, support, and policymakers.</p>
</div>