<div class="display">
   
        <div>
            <div class="slidbar">
              
                <ul>
                  
                    <li class="fbs">Filter By Sector :
                        <ul class="sector"  (change)="getValue($event)" >
                            <li>
                                <input type="radio" name="sector" value="AllSector" >
                                <label for="Ecommerce">All Sector</label> 
                            </li>
                            <li *ngFor="let sector of sectors" >
                                <input type="radio" name="sector" value="{{sector.sectorName}}" >
                                <label for="Ecommerce"> {{sector.sectorName}}</label>
                            </li>
                        </ul>
                    </li>
                    <!-- <li>
                        <button mat-button class="btnstyle" (click)="openDialog()">ADD Startup</button>
                    </li> -->
                    <!-- <li><button class="noselect buttonStyle" id="btn1" (click)="openDialogS()"> ADD Sector</button></li> -->
                    <li><button class="noselect buttonStyle"  (click)="openDialog()">ADD Startup</button></li>
                    <li><button class="noselect buttonStyle" id="btn1"  (click)="openDialogS()">ADD Sector</button></li>
                </ul>
            </div>
        </div>
        

    <div class="containerTable">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="Logo">
                <th mat-header-cell *matHeaderCellDef> Logo </th>
                <td mat-cell *matCellDef="let element"><img src="{{element.logo}} " alt="logo" width="40px"
                        height="35px"></td>
            </ng-container>

            <!-- companyName Column -->
            <ng-container matColumnDef="Company Name">
                <th mat-header-cell *matHeaderCellDef>Company Name </th>
                <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
            </ng-container>


            <!-- City Column -->
            <ng-container matColumnDef="City">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>

            <!-- Sector Column -->
            <ng-container matColumnDef="Sector">
                <th mat-header-cell *matHeaderCellDef> Sector </th>
                <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
            </ng-container>
<!--  yearOfEstablishment-->
            <ng-container matColumnDef="yearOfEstablishment">
                <th mat-header-cell *matHeaderCellDef> year Of <br> Establishment </th>
                <td mat-cell *matCellDef="let element"> {{element.yearOfEstablishment}} </td>
            </ng-container>
            <!-- numOfEmployees -->
            <ng-container matColumnDef="numOfEmployees">
                <th mat-header-cell *matHeaderCellDef> num Of <br>Employees </th>
                <td mat-cell *matCellDef="let element"> {{element.numOfEmployees}} </td>
            </ng-container>
            <!-- website -->
            <ng-container matColumnDef="Websit">
                <th mat-header-cell *matHeaderCellDef> Websit </th>
                <td mat-cell *matCellDef="let element"> <a href="{{element.website}}"
                        class="website">{{element.website}}</a></td>
            </ng-container>
              <!-- email -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element">
                        {{element.email}}</td>
            </ng-container>
             <!-- Founder -->
             <ng-container matColumnDef="founder">
                <th mat-header-cell *matHeaderCellDef> Founder </th>
                <td mat-cell *matCellDef="let element">
                        {{element.founder}}</td>
            </ng-container>
           
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button class="btnDelete"(click)="editStartup(element.uid)" ><img src="../../../../assets/icons/edit.png" alt="edit"
                            width="20px" height="20px"></button>

                    <button mat-button class="btnDelete" (click)="deleteStartup(element.uid)"><img
                            src="../../../../assets/icons/trash.png" alt="trash" width="20px" height="20px"> </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>

</div>