
<div class="container">
    <form #form="ngForm">
      <h1>Add Startup</h1>
      <div class="row">
        <div class="col-25">
          <label for="companyName">Company Name :</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="companyName"  #cName="ngModel" required   placeholder="Your Company Name.."  [(ngModel)]='startups.companyName'>
       <span  *ngIf="cName.touched && cName.invalid">Company name is required</span>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="city">City :</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" #aName="ngModel" required  name="city" placeholder="Your City.." [(ngModel)]='startups.city'>
          <span  *ngIf="aName.touched && aName.invalid">City  is required</span>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="yearOfEstablishment">Years of Extablishment :</label>
        </div>
        <div class="col-75">
          <input type="text"  name="yearOfEstablishment" placeholder="Years of Extablishment.." [(ngModel)]='startups.yearOfEstablishment'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="numOfEmployees">Number of Employees :</label>
        </div>
        <div class="col-75">
          <input type="text"  name="numOfEmployees" placeholder="Number of Employees.." [(ngModel)]='startups.numOfEmployees'>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-75">
          <label for="logo">Logo :</label>
          <input type="file"  name="logo" #lName="ngModel" required  placeholder="Your URL Logo.."  [(ngModel)]='startups.logo' (change)="upload($event)">
          <span  *ngIf="lName.touched && lName.invalid">Logo  is required</span>
        </div>
      </div>
      <br> 
      <div class="row">
        <select class="selectSector" class="wSelect" (change)="getValue($event)" [(ngModel)]='startups.sector'>
          <option>Select Sector</option>
          <option *ngFor="let sector of sectors">
            {{sector.sectorName}}
          </option>
        </select>
        <br><br>
        </div>
      
      <div class="row">
        <div class="col-25">
          <label for="website">Website :</label>
        </div>
        <div class="col-75">
            <input type="text" id="lname" name="website" #wName="ngModel" required placeholder="Your Company website.."  [(ngModel)]='startups.website'>
            <span  *ngIf="wName.touched && wName.invalid">Sector  is required</span>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="email">Email :</label>
        </div>
        <div class="col-75">
            <input type="text" id="lname" name="email" placeholder="Your Company email.." [(ngModel)]='startups.email'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="phone">Phone :</label>
        </div>
        <div class="col-75">
            <input type="text" id="lname" name="phone" placeholder="Your Company Phone.." [(ngModel)]='startups.phone'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="founder">Founder :</label>
        </div>
        <div class="col-75">
            <input type="text" id="lname" name="founder" placeholder="Founder.." [(ngModel)]='startups.founder'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label ></label>
        </div>
        <!-- <button >ADD</button> -->
        
        <button class="noselect buttonStyle"  [disabled]="form.invalid"  (click)="submit()"> Add New startup</button>
      </div>
    </form>
  </div>
