<h1>Add Startup</h1>
<div class="container">
    <form action="/action_page.php">
      <div class="row">
        <div class="col-25">
          <label for="fname">Company Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your Company Name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">City</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your City..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Years of Extablishment</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Years of Extablishment..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Number of Employees</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Number of Employees..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Logo</label>
        </div>
        <div class="col-75">
          <input type="file" id="lname" name="lastname" placeholder="Upload Logo..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Sectors</label>
        </div>
        <div class="col-75">
          <select id="Sectors" name="Sectors">
            <option value="Ecommerce">Ecommerce</option>
            <option value="Foodtech">Foodtech</option>
            <option value="Edtech">Edtech</option>
            <option value="Healthtech">Healthtech</option>
            <option value="Sportstech">Sportstech</option>
            <option value="cypersecurity">Cyber security</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Website</label>
        </div>
        <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Your Company website..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Email</label>
        </div>
        <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Your Company email..">
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div>
