<h1>Add Startup</h1>
<div class="container">
    <form #form="ngForm">
      <div class="row">
        <div class="col-25">
          <label for="fname">Company Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your Company Name.."  [(ngModel)]='startups.companyName'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">City</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your City.." [(ngModel)]='startups.city'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Years of Extablishment</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Years of Extablishment.." [(ngModel)]='startups.yearOfEstablishment'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Number of Employees</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Number of Employees.." [(ngModel)]='startups.numOfEmployees'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Logo</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="Your URL Logo.."  [(ngModel)]='startups.logo'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Sectors</label>
        </div>
        
        <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Your Company Sector.."  [(ngModel)]='startups.sector'>
        </div>
        </div>
      
      <div class="row">
        <div class="col-25">
          <label for="subject">Website</label>
        </div>
        <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Your Company website.."  [(ngModel)]='startups.website'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Email</label>
        </div>
        <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Your Company email.." [(ngModel)]='startups.email'>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Phone</label>
        </div>
        <div class="col-75">
            <input type="text" id="lname" name="lastname" placeholder="Your Company Phone.." [(ngModel)]='startups.phone'>
        </div>
      </div>
      <div class="row">
        <button (click)="submit()">ADD</button>
      </div>
    </form>
  </div>
