<div class="contanier">
    <h2>Frequently Asked Questions</h2>
<div class="c">
    <input type="checkbox" id="faq-1">
    <h1><label for="faq-1">Why are you unable to sign up?
    </label></h1>
    <div class="p">
      <p>Logging in is only available to the website's administrator.</p>
    </div>
  </div>
  
  <div class="c">
    <input type="checkbox" id="faq-2">
    <h1><label for="faq-2">Are startup your companies allowed to be added?</label></h1>
    <div class="p">
      <p>Yes, you can by going to <a routerLink="addstartup">Add Startups</a>
        and then filling out the form. </p>
    </div>
  </div>
  <div class="c">
    <input type="checkbox" id="faq-3">
    <h1><label for="faq-3">How do I enter your Startup location?</label></h1>
    <div class="p">
      <p> The latitude and longitude can be entered directly in the input field or through the map.</p>
    </div>
  </div>
</div>