<div class="slidbar">
    <div class="search__container">
        <input class="search__input" type="text" placeholder="Search">
    </div>
    <ul>
        <li class="fbs">Filter By Sector
            <ul>    
            <li><input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">Ecommerce</label></li>
            <li><input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">Edtech</label></li>
            <li><input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">Data,AI&ML</label></li>
        </ul>
        </li>
        <li><button class="noselect" id="btn1"> ADD Sector</button></li>
        <li><button class="noselect" id="btn2">Delet Sector</button></li>
        <li><button class="noselect" id="btn3">Updat Sector</button></li>
    </ul>
</div>