<div class="slidbar">
    <div class="search__container">
        <input class="search__input" type="text" placeholder="Search">
    </div>
    <ul>
        <li class="fbs">Filter By Sector
            <ul class="sector">
                <li><input type="radio" name="sector" value="Ecommerce">
                    <label for="Ecommerce">Ecommerce</label>
                </li>
                <li><input type="radio" name="sector" value="Edtech">
                    <label for="Edtech">Edtech</label>
                </li>
                <li><input type="radio" name="sector" value="Data">
                    <label for="Data">Data,AI&ML</label>
                </li>
                <li><input type="radio" name="sector" value="Healthtech">
                    <label for="Healthtech">Healthtech</label>
                </li>
                <li><input type="radio" name="sector" value="Fintech">
                    <label for="Fintech">Fintech</label>
                </li>
                <li><input type="radio" name="sector" value="Social Media">
                    <label for="Social Media">Social Media</label>
                </li>
                <li><input type="radio" name="sector" value="Foodtech">
                    <label for="Foodtech">Foodtech</label>
                </li>
                <li><input type="radio" name="sector" value="Sportech">
                    <label for="Sportech">Sportech</label>
                </li>
            </ul>
        </li>
        <li><button class="noselect" id="btn1"> ADD Sector</button></li>
        <li><button class="noselect" id="btn2">Delet Sector</button></li>
        <li><button class="noselect" id="btn3">Updat Sector</button></li>
    </ul>
</div>