
*{
    margin:3px; text-align: center;
}
h1{
    color: var(--primary-color);
   font-weight: bold;
}
.container  {
    display: flex;
    flex-direction: column;
   
}
form > *{
    width: 360px;
}
button{
    color: var(--third-color);
    background-color: var(--primary-color);
    width: 100;

}
.buttonStyle {
    width: 250px;
    height: 50px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    transition: 500ms;
    color: var(--third-color);
   
}
