<h1>Add Startup</h1>
<div class="container">
    <form #form="ngForm" >
        <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input matInput  name="companyName" [(ngModel)]='startups.companyName'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Logo</mat-label>
            <input matInput name="logo" [(ngModel)]='startups.logo'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Sector</mat-label>
            <input matInput name="sector" [(ngModel)]='startups.sector'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput name="city" [(ngModel)]='startups.city'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Founder</mat-label>
            <input matInput name="founder" [(ngModel)]='startups.founder'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>numOfEmployees</mat-label>
            <input matInput name="numOfEmployees" [(ngModel)]='startups.numOfEmployees'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>yearOfEstablishment</mat-label>
            <input matInput name="yearOfEstablishment" [(ngModel)]='startups.yearOfEstablishment'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Website</mat-label>
            <input matInput name="website" [(ngModel)]='startups.website'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput name="email" [(ngModel)]='startups.email'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>phone</mat-label>
            <input matInput name="phone" [(ngModel)]='startups.phone'>
        </mat-form-field>
        <button (click)="submit()">ADD</button>
    </form>
    <!-- <form [formGroup]="form" (ngSubmit)="submit()" >
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error *ngIf="name?.hasError('required')">Todo Name is required</mat-error>
        </mat-form-field>
       
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Add Todo</button>    
    </form> -->
</div>