<div class="container">
  <p class="imageText-title">Discover the Best Startups technology<br> in Jordan</p>
  <p class="imageText-par">StartupsTech is the most comprehensive startup technology<br>
    research center in Jordan, working to uncover the momentum <br>
    of startup technology and accelerate its growth.</p>
</div>
<div class="titleStartup">
  <h1 class="titleS">Explore the Startups in Jordan</h1>
  <select class="selectSector">
   <option>Filter By sector</option>
    <option  *ngFor="let sector of sectors">
      {{sector.namesector}}
    </option>
  </select>
  <div class="cardsCompany">
    <div class="a-box" *ngFor="let logo of companyLogo">
      <div class="img-container">
        <div class="img-inner">
          <a href=""> <img src="{{logo.logo}}" class="logoCompany"></a>
        </div>
      </div>
    </div>
  </div>
</div>