<div class="container">
    <p class="imageText-title">Discover the Best Startups technology<br> in Jordan</p>
    <p class="imageText-par">StartupsTech is the most comprehensive startup technology<br>
         research center in Jordan, working to uncover the momentum <br>
         of startup technology and accelerate its growth.</p>
</div>

<div class="titleStartup">
    <h1 class="titleS">Explore the Startups in Jordan</h1>
  <div  class="cardsCompany">
      <div class="a-box" *ngFor="let company of companyInfo">
          <div class="img-container">
            <div class="img-inner">
            
                <img src="assets/fullData/{{company.logo}}" class="logoCompany">
             
            </div>
          </div>
          
        </div>
  </div>
  
  </div>
