html, body { height: 100%; }
* { 
    margin: 0; 
    font-family: "Open Sans", sans-serif !important;
    font-size: 18px;

}
:root{
    --primary-color:rgba(12, 97, 133, 0.952);
    --secound-color: rgba(8, 76, 105, 0.952);
    --third-color: #FFF;
    --plus-color:#e9e9eb;
    --four-color: rgb(206, 201, 201);
    --shadow-color:#aca0aa;
    --black-color:rgb(0, 0, 0);
    --color-error:rgb(198, 4, 4);
}


