html, body { height: 100%; }
* { 
    margin: 0; 
    /* font-family: 'Cormorant Garamond', serif !important;  */
    font-family: "Open Sans", sans-serif !important;
    font-size: 18px;
    
    
}


